* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.nav {
    background-color: rgba(160, 243, 146, 1);
    padding: 2px 0px 5px 0px;
}

.nav li {
    margin: 5px 10px 5px 10px; /* t r b l */
}

.nav-link {
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.nav-link:hover {
    color: rgba(80, 80, 80, 1);
}

.activeindex {
    text-shadow: 0px 0px 4px white;
}

.brand-subtitle {
    color: white; 
    font-size:15px; 
    font-weight:500; 
    text-decoration: none;
}

tr {
    border-left: 6px solid rgba(160, 243, 146, 1); 
}

.detaillaporan {
    position: absolute;
    right: 0px;
    width: 30%;
    height: 100%;
    background: #c2c2c2;
    margin: 0px 0px 0px 20px; /* t r b l */
}

.detaillaporan p,h1,h2,h3,h4,img {
    margin: 20px 40px 40px 40px;
}

.detaillaporan a{
    margin: 0px 40px 40px 40px
}

textarea.form-control {
    resize: none;
    width: 65%;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:disabled {
    background-color: #F5F4F4;
    opacity: 1;
}

.w-30 {
    width: 30% !important;
}
