* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.nav {
    background-color: rgba(160, 243, 146, 1);
}

.nav li {
    margin: 5px 10px 5px 10px; /* t r b l */
}

.nav-list {
    margin-right: 10px;
}