* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #C6D1C0;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    background-color: #EAEAEA;
    margin: auto;
    margin-top: 60px;
    padding-top: 15px;
    width: 546px;
    height: 500px;
}

.container h1 {
    color: black;
    margin-top: 10px;
    font-size: 56px;
    text-shadow: 1px 1px 5px black;
}

.container h1,h3 {
    text-align: center;
}

.container h3 {
    color: rgba(90,90,90, 71);
    font-size: 20px;
}

.container form {
    margin-top: 30px;
}

         
.btn-grad {
    background-image: linear-gradient(to right, #B1FFA5 0%, #99EC58  51%, #B1FFA5  100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  .bar {
    background-color:rgb(203, 255, 137);
    width: 100%;
    height:5px;
  }